body {
	width: 100wh;
	height: 90vh;
	color: ##FFEFBA;
	background: linear-gradient(-45deg, #a2ab58, #FFEFBA, #a2ab58, #FFEFBA);
	background-size: 400% 400%;
	}
#title {
  font-family: "courgette", times new roman;
  text-align: center;
  color: black;
}
h2 {
  text-align: center;
  font-family: "courgette", serif;
  font-size: 24px;
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 30px;
  color: black;
}
h3 {
  font-family: "philosopher", serif;
  text-align: center;
   color: black;
  padding-top: 30px;
}

p {
  text-align: center;
  font-family: "philosopher", serif;
  font-size: 24px;
  padding-left: 500px;
  padding-right: 500px;
  color: #white;
}
#image {
display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-style: solid;
    border-width: 10px;
    border-radius: 40%;
    border-color: #58ab6a;
    max-width: 100%;
}
ul{
    
  font-family: "philosopher", serif;
  font-size: 20px;
 padding-left: 600px;
  padding-right: 500px;
  color: #white;
}
#tribute-link {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-left: 400px;


